body{
    background-color: lightgoldenrodyellow;
}
header{
    background-color: black;
    min-height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 500px;
    font-size: 20px;
    color: white;
}
a{
    text-decoration: none;
    color: white;
    border: 1px solid white;
    margin: 10px;
    padding: 10px 25px;
}
.name{
}
.container{
    /* background-color: lightgoldenrodyellow; */
    
    max-width: 1024px;
    min-height: 600px;
    margin: auto;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.col{
    background-color: chartreuse;
    width: 30%;
    min-height: 300px;
    margin-bottom: 50px;
}
.hide-desktop-only{
    display: none;
}
.col img{
    width: 100%;
    height: auto;
}
.col p{
    padding: 25px;
    font-size: 17px;
}
.col p::first-line{
    font-weight: bold;
}
@media (max-width: 1000px){
    .col{
        background-color: crimson;
        width: 45%;
    }
    .hide-desktop-only{
        display: block;
    }
}
@media (max-width: 800px){
    .col{
        background-color:cyan;
        width: 100%;
    }
    .hide-mobile{
        display: none;
    }
}